<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>English</string>
    <key>CFBundleDisplayName</key>
    <string>绝对防御</string>
    <key>CFBundleExecutable</key>
    <string>${EXECUTABLE_NAME}</string>
    <key>CFBundleIcons~ipad</key>
    <dict/>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>${PRODUCT_NAME}</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0.3</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleVersion</key>
    <string>1.0.3</string>
    <key>LSApplicationQueriesSchemes</key>
    <array>
      <string>baiduboxapp</string>
      <string>meituanwaimai</string>
      <string>tbopen</string>
      <string>openapp.jdmobile</string>
      <string>alipays</string>
      <string>imeituan</string>
      <string>sinaweibo</string>
      <string>snssdk1128</string>
      <string>pddopen</string>
      <string>kwai</string>
      <string>ksnebula</string>
      <string>ctrip</string>
      <string>vipshop</string>
      <string>xhsdiscover</string>
      <string>taobaoliveshare</string>
      <string>soul</string>
      <string>iqiyi</string>
      <string>jdmobile</string>
      <string>tctravel</string>
      <string>frfreereader</string>
      <string>tianyancha</string>
      <string>zhihu</string>
      <string>tmall</string>
      <string>taobaotravel</string>
      <string>txvideo</string>
      <string>iting</string>
      <string>orpheuswidget</string>
      <string>bilibili</string>
      <string>eleme</string>
      <string>dewuapp</string>
      <string>dianping</string>
      <string>ucbrowser</string>
      <string>fleamarket</string>
      <string>quark</string>
      <string>qunariphone</string>
      <string>youku</string>
      <string>snssdk141</string>
      <string>weixin</string>
      <string>yymobile</string>
      <string>wbmain</string>
      <string>kaola</string>
      <string>bitauto.yicheapp</string>
      <string>lianjiabeike</string>
      <string>amapuri</string>
      <string>openanjuke</string>
      <string>momochat</string>
      <string>autohome</string>
      <string>OneTravel</string>
      <string>sohuvideo</string>
      <string>bosszp</string>
    </array>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>NSAppTransportSecurity</key>
    <dict>
      <key>NSAllowsArbitraryLoads</key>
      <true/>
    </dict>
    <key>NSAppleMusicUsageDescription</key>
    <string>是否允许此App使用苹果音乐？</string>
    <key>NSBluetoothPeripheralUsageDescription</key>
    <string>是否许允此App使用蓝牙？</string>
    <key>NSCalendarsUsageDescription</key>
    <string>是否允许此App使用日历？</string>
    <key>NSCameraUsageDescription</key>
    <string>是否许允此App使用相机？</string>
    <key>NSContactsUsageDescription</key>
    <string>是否允许此App访问您的通讯录？</string>
    <key>NSLocationAlwaysUsageDescription</key>
    <string>是否允许此App访问您的地理位置?</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>是否允许此App访问您的地理位置?</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>是否允许此App使用您的麦克风</string>
    <key>NSMotionUsageDescription</key>
    <string>是否许允此App使用动作？</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>是否许允此App使用相册？</string>
    <key>NSSpeechRecognitionUsageDescription</key>
    <string>是否允许此App访问您的语音识别?</string>
    <key>NSUserTrackingUsageDescription</key>
    <string>此标识符将用于向您发送个性化广告。</string>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>需要写入相册权限</string>
    <key>UILaunchStoryboardName</key>
    <string>LaunchScreen1.storyboard</string>
    <key>UIPrerenderedIcon</key>
    <true/>
    <key>UIRequiredDeviceCapabilities</key>
    <dict>
      <key>accelerometer</key>
      <true/>
      <key>opengles-1</key>
      <true/>
    </dict>
    <key>UIRequiresFullScreen</key>
    <true/>
    <key>UIStatusBarHidden</key>
    <true/>
    <key>UISupportedInterfaceOrientations</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
    </array>
  </dict>
</plist>
